/* Styles pour centrer le formulaire */
.formulaire-container {
  flex-direction: column; /* Affiche les éléments en colonne */
  align-items: center; /* Centre le contenu horizontalement */
  padding: 5px; /* Espace intérieur du conteneur */
  display: flex;
  margin-top: 10px; /* Ajoutez une marge en haut selon vos besoins */
  margin: 10px;
}

/* Styles pour le formulaire à l'intérieur du conteneur */
.Formulaire {
  color: white;
  padding: 1rem;
  margin: 1rem;
  /* Ajoutez vos styles spécifiques pour le formulaire ici */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alignez les éléments du formulaire à gauche */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(53, 39, 68, 0.77); /* Style pour la couleur de fond avec une transparence */

  label {
    margin-bottom: 2px; /* Ajoutez une marge en bas à chaque étiquette */
  }
  input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 1px solid black;
  }
  
  input,
  button {
    margin-bottom: 2px; /* Ajoutez une marge en bas à chaque champ de saisie et bouton */
    padding: 5px; 
  }
}

button {
  background-color: #4c51af;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}