html {
    background: linear-gradient(rgba(255, 255, 255, 0.146), rgba(255, 255, 255, 0.146)),
                url('../src/Images/Drone3.jpg');
    background-position: center;
    background-size: cover;
    letter-spacing: 1px;
  }
  